$breakpoints: (
    // "sm": "screen and (min-width: 400px)",
    "sp": "screen and (max-width: 767px)",
    "pc": "screen and (min-width: 768px)",
    // "xl": "screen and (min-width: 1200px)",
) !default;

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
      @content;
  }
}

@mixin sp {
  @media #{map-get($breakpoints, "sp")} {
      @content;
  }
}

@mixin nunito_sans {
  font-family: "Nunito Sans", "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}