$breakpoints: (
    // "sm": "screen and (min-width: 400px)",
    "sp": "screen and (max-width: 767px)",
    "pc": "screen and (min-width: 768px)",
    // "xl": "screen and (min-width: 1200px)",
) !default;
$viewports: (
    "sp": 390,
    "pc": 1280,
) !default;

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
      @content;
  }
}

@mixin sp {
  @media #{map-get($breakpoints, "sp")} {
      @content;
  }
}

@mixin base_font {
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

// calc for reposonsive 
@function resp_pc($size, $viewport: map-get($viewports, "pc")) {
  $rate: calc(100 / $viewport);
  @return $rate * $size * 1vw;
}

@function resp_sp($size, $viewport: map-get($viewports, "sp")) {
  $rate: calc(100 / $viewport);
  @return $rate * $size * 1vw;
}
