body main {
  color: #333;
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.fade-in-img-container img {
  opacity: 0;
  position: relative;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  -webkit-transition: opacity 0.8s ease-in-out, -webkit-transform 1.2s ease-out;
  transition: opacity 0.8s ease-in-out, -webkit-transform 1.2s ease-out;
  transition: opacity 0.8s ease-in-out, transform 1.2s ease-out;
  transition: opacity 0.8s ease-in-out, transform 1.2s ease-out, -webkit-transform 1.2s ease-out;
}
.fade-in-img-container img.fade-in {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.fade-in-block {
  opacity: 0;
  position: relative;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  -webkit-transition: opacity 0.8s ease-in-out, -webkit-transform 1.2s ease-out;
  transition: opacity 0.8s ease-in-out, -webkit-transform 1.2s ease-out;
  transition: opacity 0.8s ease-in-out, transform 1.2s ease-out;
  transition: opacity 0.8s ease-in-out, transform 1.2s ease-out, -webkit-transform 1.2s ease-out;
}
.fade-in-block.fade-in {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.scroll-nav {
  -webkit-animation: scroll-nav 1.7s ease-out;
          animation: scroll-nav 1.7s ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
  opacity: 1;
  content: "";
  width: 12px;
  height: 12px;
  border-bottom: 1px solid #797979;
  border-left: 1px solid #797979;
  position: absolute;
  bottom: 12vh;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
}
@media screen and (max-width: 767px) {
  .scroll-nav {
    bottom: 10vh;
  }
}
.scroll-nav.scroll-nav-hide {
  opacity: 0;
}

@-webkit-keyframes scroll-nav {
  0% {
    -webkit-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
  }
  50% {
    -webkit-transform: translateY(20px) rotate(-45deg);
            transform: translateY(20px) rotate(-45deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
  }
}

@keyframes scroll-nav {
  0% {
    -webkit-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
  }
  50% {
    -webkit-transform: translateY(20px) rotate(-45deg);
            transform: translateY(20px) rotate(-45deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
  }
}
main.home .home-content .section-fv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 900px;
  position: relative;
}
main.home .home-content .name-en {
  margin: 20px 0 0;
  line-height: 1.2;
  letter-spacing: -0.01em;
  font-size: 40px;
  font-weight: 200;
}
@media screen and (max-width: 767px) {
  main.home .home-content .name-en {
    font-size: 32px !important;
  }
}
main.home .home-content .name-jp {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 300;
}
@media screen and (max-width: 767px) {
  main.home .home-content .name-jp {
    font-size: 14.4px !important;
    margin: 0 0 5px;
  }
}
main.home .home-content .p-professions {
  color: #797979;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 300;
  margin: 0 0 30px;
}
@media screen and (max-width: 767px) {
  main.home .home-content .p-professions {
    font-size: 12.8px !important;
  }
}
main.home .home-content h2 {
  line-height: 1.4;
  margin: 0 0 40px;
  font-weight: 200;
  font-size: 36px;
}
@media screen and (max-width: 767px) {
  main.home .home-content h2 {
    margin: 0 0 20px;
    font-size: 32px !important;
  }
}
main.home .home-content .portfolio {
  margin: 0 1.25vw;
  gap: 1.25vw;
}
main.home .home-content .portfolio .is-layout-flex {
  gap: 1.25vw;
  width: 100%;
}
@media screen and (max-width: 767px) {
  main.home .home-content .portfolio .is-layout-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
main.home .home-content .portfolio img {
  width: 100% !important;
  height: auto !important;
}
main.home .home-content .portfolio figure {
  width: 25%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}
@media screen and (max-width: 767px) {
  main.home .home-content .portfolio figure {
    width: calc(50% - 0.625vw);
  }
}
main.home .home-content .portfolio figure figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 200;
  font-size: 24px;
  color: #fff;
  text-align: center;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  cursor: pointer;
  margin: 0;
}
main.home .home-content .portfolio figure figcaption a {
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.02em;
  font-weight: 200;
  font-size: 24px;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  main.home .home-content .portfolio figure figcaption a {
    font-size: 4.1025641026vw;
  }
}
main.home .home-content .portfolio figure:has(a) {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
main.home .home-content .portfolio figure:has(a):hover {
  opacity: 0.85;
}
@media screen and (min-width: 768px) {
  main.home .home-content .portfolio figure:has(a):hover figcaption {
    opacity: 1;
  }
}
main.home .home-content .portfolio a {
  display: block;
}
main.home .home-content .section-bio {
  margin: 80px auto;
  width: 80%;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.4;
  letter-spacing: 0.02em;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
@media screen and (max-width: 767px) {
  main.home .home-content .section-bio {
    font-size: 16px !important;
    width: unset;
    margin: 40px 3vw;
  }
}
main.home .section-article {
  gap: 1.25vw;
}
main.home .section-article .is-layout-flex {
  gap: 1.25vw;
}
main.home .section-article img {
  width: 37.890625vw !important;
  height: 29.6875vw !important;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-shadow: 0 0 6px 1px rgba(204, 204, 204, 0.356);
          box-shadow: 0 0 6px 1px rgba(204, 204, 204, 0.356);
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
@media screen and (max-width: 767px) {
  main.home .section-article img {
    width: 46.1538461538vw !important;
    height: 37.1794871795vw !important;
  }
}
main.home .section-article img:hover {
  opacity: 0.7;
}

main.page h1 {
  font-size: 28px;
  font-weight: 200;
  line-height: 1.4;
  margin: 40px 6.5vw 5px;
}
@media screen and (max-width: 767px) {
  main.page h1 {
    font-size: 22.4px !important;
    margin: 20px 1.25vw 5px;
  }
}
main.page .breadcrumbs {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0.02em;
  margin: 40px 6.5vw;
}
@media screen and (max-width: 767px) {
  main.page .breadcrumbs {
    margin: 20px 1.25vw;
  }
}
main.page .breadcrumbs a {
  color: #333;
  text-decoration: none;
}
main.page .breadcrumbs a:hover {
  color: #333;
  text-decoration: underline;
}
main.page .page-content p {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.4;
  letter-spacing: 0.02em;
  margin: 0 6.5vw 40px;
}
@media screen and (max-width: 767px) {
  main.page .page-content p {
    font-size: 16px !important;
    margin: 0 1.25vw 20px;
  }
}
main.page .page-content .section-img {
  margin: 1.25vw 6.5vw;
  gap: 1.25vw;
}
@media screen and (max-width: 767px) {
  main.page .page-content .section-img {
    gap: 1.25vw;
    margin: 1.25vw 1.25vw;
  }
}
main.page .page-content .section-img .is-layout-flex {
  gap: 1.25vw;
  width: 100%;
}
@media screen and (max-width: 767px) {
  main.page .page-content .section-img .is-layout-flex {
    gap: 1.25vw;
  }
}
main.page .page-content .section-img figure {
  width: 50%;
}
main.page .page-content .section-img img {
  width: 100% !important;
}
main.page .page-content .wp-block-group.is-layout-flex:has(.size-large) {
  gap: 1.25vw;
}
@media screen and (max-width: 767px) {
  main.page .page-content .wp-block-group.is-layout-flex:has(.size-large) {
    gap: 1.25vw;
  }
}
main.page .page-content .wp-block-group.is-layout-flex:has(.bg-barbour) {
  margin: 0 6.5vw;
}
main.page .page-content .bg-barbour {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: min(6.66%, 40px) 0;
  background-color: #5C7A4D;
}
main.page .page-content .bg-barbour img {
  width: 87.3%;
  height: auto;
}
main.page .page-content .wp-block-group.is-layout-flex:has(.w-100) {
  margin: 0 6.5vw;
}
main.page .page-content figure.w-100 {
  width: 100%;
}
main.page .page-content figure.w-100 img {
  width: 100%;
  height: auto;
}

footer {
  margin-top: 80px;
  margin-bottom: 100px;
}
@media screen and (max-width: 767px) {
  footer {
    margin-top: 40px;
  }
}

.contact-me {
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #333;
  text-align: center;
  font-size: 40px;
  font-weight: 200;
  line-height: 1.4;
  letter-spacing: -0.01em;
  margin: 10px;
}
@media screen and (max-width: 767px) {
  .contact-me {
    font-size: 32px;
  }
}
.contact-me a {
  color: #dda5ff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration-thickness: 1.7px;
}
.contact-me a:hover {
  opacity: 0.7;
}
.contact-me.jp {
  font-size: 24px;
  font-weight: 300;
  margin: 12px;
}
@media screen and (max-width: 767px) {
  .contact-me.jp {
    font-size: 19.2px;
  }
}
.contact-me.jp a {
  font-size: 27px;
  text-decoration-thickness: 1.5px;
}
@media screen and (max-width: 767px) {
  .contact-me.jp a {
    font-size: 21.6px;
  }
}
.contact-me br.sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .contact-me br.sp {
    display: block;
  }
}

.m-80-center {
  margin: 80px auto;
}
@media screen and (max-width: 767px) {
  .m-80-center {
    margin: 40px auto;
  }
}

.wp-block-embed-youtube .wp-block-embed__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .wp-block-embed-youtube .wp-block-embed__wrapper {
    margin: 0 1.25vw;
  }
}
.wp-block-embed-youtube .wp-block-embed__wrapper iframe {
  max-width: 800px;
  width: 50%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  aspect-ratio: 16/9;
}
@media screen and (max-width: 767px) {
  .wp-block-embed-youtube .wp-block-embed__wrapper iframe {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */