@import "mixin";

body main {
  color: #333;
  @include base_font;
}

// fade in 
@mixin fade-in-origin {
  opacity: 0;
  position: relative;
  transform: translateY(25px);
  transition: opacity 0.8s ease-in-out, transform 1.2s ease-out;
}
@mixin fade-in {
  opacity: 1;
  transform: translateY(0);
}
.fade-in-img-container {
  img {
    @include fade-in-origin;
  }
  img.fade-in {
    @include fade-in;
  }
}

.fade-in-block {
  @include fade-in-origin;
  &.fade-in {
    @include fade-in;
  }
}

// scroll navi
.scroll-nav {
  animation: scroll-nav 1.7s ease-out;
  animation-iteration-count: infinite;
  transition: opacity .5s ease-in;
  opacity: 1;
  content: '';
  width: 12px;
  height: 12px;
  border-bottom: 1px solid #797979;
  border-left: 1px solid #797979;
  position: absolute;
  bottom: 12vh;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  @include sp {
    bottom: 8vh;
  }
  &.scroll-nav-hide {
    opacity: 0;
  }
}
@keyframes scroll-nav {
  0% {
    transform: translateY(0) rotate(-45deg);
  }
  50% {
    transform: translateY(20px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}

// home 
main.home {
  // FV
  .home-content {
    // .fv-img {
    //   width: 238px!important;
    // }
    .section-fv {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      box-sizing: border-box;
      max-height: 900px;
      position: relative;
    }
    .name-en {
      margin: 20px 0 0;
      line-height: 1.2;
      letter-spacing: -0.01em;
      font-size: 40px;
      font-weight: 200;
      @include sp {
        font-size: calc(40px * 0.8)!important;
      }
    }
    .name-jp {
      margin: 0 0 10px;
      font-size: 18px;
      font-weight: 300;
      @include sp {
        font-size: calc(18px * 0.8)!important;
        margin: 0 0 5px;
      }
    }
    .p-professions {
      color: #797979;
      font-size: 16px;
      line-height: 1.4;
      font-weight: 300;
      margin: 0 0 30px;
      @include sp {
        font-size: calc(16px * 0.8)!important;
      }
    }
  }
  .home-content {
    h2 {
      line-height: 1.4;
      margin: 0 0 40px;
      font-weight: 200;
      font-size: 36px;
      @include sp {
        margin: 0 0 20px;
        font-size: calc(40px * 0.8)!important;
      }
    }
  }
  // portfolio section
  .home-content {
    .portfolio {
      margin: 0 1.25vw;
      gap: 1.25vw;
  
      .is-layout-flex {
        gap: 1.25vw;
        width: 100%;
        @include sp {
          flex-wrap: wrap;
        }
      }
      img {
        width: 100%!important;
        height: auto!important;
      }
      figure {
        width: 25%;
        height: max-content;
        position: relative;
        @include sp {
          width: calc(50% - (1.25vw / 2));
        }
        figcaption {
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-weight: 200;
          font-size: 24px;
          color: #fff;
          text-align: center;
          transition: opacity .2s ease-in;
          cursor: pointer;
          margin: 0;

          a {
            @include base_font;
            color: #fff;
            text-decoration: none;
            letter-spacing: 0.02em;
            font-weight: 200;
            font-size: 24px;
            white-space: nowrap;
            @include sp {
              font-size: resp_sp(16);
            }
          }
        }
      }
      figure:has(a) {
        transition: opacity .2s ease-in;
        &:hover {
          opacity: 0.85;
          figcaption {
            opacity: 1;
          }
        }
      }
      a {
        display: block;
        // transition: opacity .2s ease-in;
        // &:hover {
        //   opacity: 0.85;
        // }
      }
    }
  }
  // bio section
  .home-content {
    .section-bio {
      // margin: 80px 1.25vw;
      margin: 80px auto;
      width: 80%;
      font-size: 20px;
      font-weight: 200;
      line-height: 1.4;
      letter-spacing: 0.02em;
      hyphens: auto;
      @include sp {
        font-size: calc(20px * 0.8)!important;
        width: unset;
        margin: 40px 3vw;
      }
    }
  }
  // mimana's articles
  .section-article {
    gap: 1.25vw;
    .is-layout-flex {
      gap: 1.25vw;
    }
    img {
      width: resp_pc(485)!important;
      height: resp_pc(380)!important;
      object-fit: contain;
      box-shadow: 0 0 6px 1px rgba(204, 204, 204, 0.356);
      transition: opacity 0.3s ease-out;
      @include sp {
        width: resp_sp(180)!important;
        height: resp_sp(145)!important;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

// page
$page-img-gap-pc: 1.25vw;
$page-img-gap-sp: 1.25vw;
$page-side-margin-pc: 6.5vw;
$page-side-margin-sp: 1.25vw;
main.page {
  h1 {
    font-size: 28px;
    font-weight: 200;
    line-height: 1.4;
    margin: 40px $page-side-margin-pc 5px;
    @include sp {
      font-size: calc(28px * 0.8)!important;
      margin: 20px $page-side-margin-sp 5px;
    }
  }
  .breadcrumbs {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 0.02em;
    margin: 40px $page-side-margin-pc;
    @include sp {
      margin: 20px $page-side-margin-sp;
    }
    a {
      color: #333;
      text-decoration: none;
      &:hover {
        color: #333;
        text-decoration: underline;
      }
    }
  }
  .page-content {
    p {
      font-size: 20px;
      font-weight: 200;
      line-height: 1.4;
      letter-spacing: 0.02em;
      margin: 0 $page-side-margin-pc 40px;
      @include sp {
        font-size: calc(20px * 0.8)!important;
        margin: 0 $page-side-margin-sp 20px;
      }
    }
    .section-img {
      margin: $page-img-gap-pc $page-side-margin-pc;
      gap: $page-img-gap-pc;
      @include sp {
        gap: $page-img-gap-sp;
        margin: $page-img-gap-sp $page-side-margin-sp;
      }
      .is-layout-flex {
        gap: $page-img-gap-pc;
        width: 100%;
        @include sp {
          gap: $page-img-gap-sp;
        }
      }
      figure {
        width: 50%;
      }
      img {
        width: 100%!important;
      }
    }

    // large image
    .wp-block-group.is-layout-flex:has(.size-large) {
      gap: $page-img-gap-pc;
      @include sp {
        gap: $page-img-gap-sp;
      }
    }

    .wp-block-group.is-layout-flex:has(.bg-barbour) {
      margin: 0 $page-side-margin-pc;
    }

    // Barbour website background color
    .bg-barbour {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: min(6.66%, 40px) 0;
      background-color: #5C7A4D;
      img {
        width: 87.3%;
        height: auto;
      }

    }

    // 100% width
    .wp-block-group.is-layout-flex:has(.w-100) {
      margin: 0 $page-side-margin-pc;
    }
    figure.w-100 {
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

// Footer
footer {
  margin-top: 80px;
  @include sp {
    margin-top: 40px;
  }
}
.contact-me {
  @include base_font;
  color: #333;

  text-align: center;
  font-size: 40px;
  font-weight: 200;
  line-height: 1.4;
  letter-spacing: -0.01em;
  margin-bottom: 100px;
  @include sp {
    font-size: calc(40px * 0.8);
  }
  a {
    color: #dda5ff;
    transition: all 0.3s ease;
    text-decoration-thickness: 2px;
    &:hover {
      opacity: 0.7;
    }
  }
}

// Embed youtube
.m-80-center {
  margin: 80px auto;
  @include sp {
    margin: 40px auto;
  }
}
.wp-block-embed-youtube {
  .wp-block-embed__wrapper {
    display: flex;
    justify-content: center;
    @include sp {
      margin: 0 $page-side-margin-sp;
    }
    iframe {
      max-width: 800px;
      width: 50%;
      height: max-content;
      aspect-ratio: 16 / 9;
      @include sp {
        width: 100%;
      }
    }
  }
}
